<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="CLEVERTAP_IDENTIFIER"
            android:value="Identity,Phone" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-Z69-W6Z-9Z6Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-160-c61" />
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.LandingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.FailureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.SuccessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MyApp" />

        <receiver
            android:name=".utils.SmsBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.phonepe.app" />
    </queries>
</manifest>